Wrapper/obj/
Wrapper/bin/
AutoGenTool/bin/
AutoGenTool/obj/
Examples/HelloWorld/CSharp/bin/
Examples/HelloWorld/CSharp/obj/
Examples/HelloWorld/FSharp/bin/
Examples/HelloWorld/FSharp/obj/
Examples/Unified/CSharp/bin/
Examples/Unified/CSharp/obj/
Examples/Unified/FSharp/bin/
Examples/Unified/FSharp/obj/
.vs
/src/Wrapper/bin/Debug/netstandard2.0
/src/Wrapper/obj
/test/ArrayFire.UnitTest/obj
/test/ArrayFire.UnitTest/bin/Debug/netcoreapp2.2
/AutoGenTool/packages/FSharp.Core.4.6.2
/test/ArrayFire.UnitTest/bin/Release/netcoreapp2.2
/src/Wrapper/bin
/packages/FSharp.Core.4.6.2
/Examples/GettingStarted/Integer/CSharp/bin
/Examples/GettingStarted/Integer/CSharp/obj
/Examples/GettingStarted/Integer/FSharp/obj
/Examples/GettingStarted/Integer/FSharp/bin/Debug/netcoreapp2.2
